extends ./layout/index

block contenido 
    main.container.mt-5 
        .row   
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen nosotros" class="img-fluid mtop")
            .col-md-7
                h1= pagina 
                bockquote fistrum diodeno fistro va usté muy cargadoo diodenoo a peich te voy a borrar el cerito tiene musho peligro mamaar fistro. A peich por la gloria de mi madre fistro ahorarr. Está la cosa muy malar torpedo condemor a wan a gramenawer ese hombree me cago en tus muelas hasta luego Lucas condemor por la gloria de mi madre. Benemeritaar a gramenawer mamaar tiene musho peligro benemeritaar. Ahorarr se calle ustée a gramenawer pecador llevame al sircoo ese hombree papaar papaar te va a hasé pupitaa.

                p Lorem fistrum está la cosa muy malar incididunt duis ut. Aute nostrud a peich te va a hasé pupitaa qué dise usteer a gramenawer torpedo tempor. Fistro ullamco torpedo dolore diodenoo ese hombree va usté muy cargadoo elit ad. Ese pedazo de et tiene musho peligro sexuarl officia qui sed aliquip. Torpedo ut aute jarl no te digo trigo por no llamarte Rodrigor me cago en tus muelas consectetur te voy a borrar el cerito. Duis a wan ullamco apetecan minim a wan quis. Ese pedazo de sed elit irure está la cosa muy malar ese que llega.

                p Lorem fistrum papaar papaar benemeritaar pecador a peich no te digo trigo por no llamarte Rodrigor no puedor pecador ese que llega ahorarr. La caidita qué dise usteer torpedo diodeno torpedo. Está la cosa muy malar te va a hasé pupitaa a peich al ataquerl diodenoo. Ese pedazo de la caidita te va a hasé pupitaa ese pedazo de. A peich caballo blanco caballo negroorl la caidita a wan sexuarl te va a hasé pupitaa ese hombree. Te va a hasé pupitaa ese hombree se calle ustée pupita mamaar benemeritaar condemor. Fistro llevame al sircoo te va a hasé pupitaa benemeritaar al ataquerl. 

    .listado-iconos 
         .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")          
                    h2.mb-4 Seguridad 
                    p Lorem fistrum papaar papaar benemeritaar pecador a peich no te digo trigo por no llamarte Rodrigor no puedor pecador ese que llega ahorarr

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")          
                    h2.mb-4 Los Mejores Destinos 
                    p Lorem fistrum papaar papaar benemeritaar pecador a peich no te digo trigo por no llamarte Rodrigor no puedor pecador ese que llega ahorarr

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")          
                    h2.mb-4 Precios Inmejorables  
                    p Lorem fistrum papaar papaar benemeritaar pecador a peich no te digo trigo por no llamarte Rodrigor no puedor pecador ese que llega ahorarr