footer.p-4.navegacion-foo  
    .row
        .col-md-6  
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link.text-white(href="/") Inicio
                a.nav-link.text-white(href="/nosotros") Nosotros
                a.nav-link.text-white(href="/viajes") Viajes 
                a.nav-link.text-white(href="/testimonios") Testimonios 

        .col 
            p.copyright.text-center.text-md-right.text-white 
                | Todos los derechos reservados 
                span= actualYear