header 
    // - crea un div y le aplica las clases indicadas tras el punto  
    .navegacion
        .container 
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4 
                .col-md-4.col-6
                    a(href="/")
                        img(src="/img/logo.svg" alt="logo sitio")
                .col-md-8
                    // - crea un nav con con las clases definidas detrás del punto
                    nav.mt-5.mt-md-0.nav.justify-content.justify-content-md-end 
                        a.nav-link(href="/nosotros") Nosotros
                        a.nav-link(href="/viajes") Viajes 
                        a.nav-link(href="/testimonios") Testimonios 